<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="darkreader-lock">
  <link href="/style.css" rel="stylesheet">
</head>

<body>
{% include "nav" %}
  <main>
    <section>
      <h1>Welcome to my unofficial archive dedicated to my favorite streamer of all time, Lily Hopkins!</h1>
      <h1>Lily Hopkins archive!</h1>
      <figure>
        <a href="https://bsky.app/profile/lilyhops.bsky.social"></a>
        <a href="https://twitter.com/lilyhops"></a>
        <a href="https://twitch.tv/lilyhops"></a>
        <a href="https://www.youtube.com/channel/UCeofN9seUXFuOunDwTUQBPw"></a>
        <a href="mailto:business@lilyhops.com"></a>
      </figure>
    </section>
    <figure>
      <img src="splash.png" />
      <figcaption>
        <a href="https://bsky.app/profile/girutea.bsky.social"></a>
        <a href="https://twitter.com/GiruteaCafe"></a>
        <a href="https://www.deviantart.com/Girutea"></a>
        <a href="https://instagram.com/GiruteaCafe/"></a>
        <a href="https://Girutea.tumblr.com/"></a>
        <a href="https://twitch.tv/Girutea"></a>
        <a href="https://patreon.com/Girutea"></a>
        <a href="https://Girutea.storenvy.com"></a>
        <a href="mailto:Girutea@gmail.com"></a>
      </figcaption>
    </figure>
  </main>
</body>

</html>
