  <nav>
    <ul>
      <a href="/">
        <li>
          <svg>
            <path></path>
          </svg>
        </li>
      </a>
      <a href=".">
        <li>
          <svg>
            <path></path>
          </svg>
        </li>
      </a>
    </ul>
    <ul>
      <a href="/vods">
        <li>Vods</li>
      </a>
      <a href="/highlights">
        <li>Highlights</li>
      </a>
      <a href="/clips">
        <li>Clips</li>
      </a>
    </ul>
    <label>
      <input type="checkbox" />
    </label>
  </nav>
