<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="darkreader-lock">
  <link href="/style.css" rel="stylesheet">
</head>

<body>
{% include "nav" %}

<form action="/{{ kind }}/search">
  <input name="query" type="text">
  <button type="submit">Search chat</button>
</form>

{% for result in results %}
  <h1>{{ result[0] }}</h1>
  {% for line in result[1] %}
    <a href="{{ line.url }}"><p style="--username: #{{ line.color }}">
      <span class="username">{{ line.username }}</span>: {{ line.message }}
    </p></a>
  {%- endfor -%}
{%- endfor -%}
</body>

</html>
